<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self';" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/style.css" />

    <title>...</title>
  </head>

  <body id="top">
    <header>
      ...
      <p>
        Last updated:
        <time id="last_updated" datetime="2026-08-15">2026-08-15</time>
      </p>
    </header>

    <hr />

    <main>
      <!-- all dominant page content -->
    </main>

    <p><a href="#top">Top</a></p>
  </body>
</html>
